<!DOCTYPE html>

    <div class="container">
        <div class="kanban-heading">
            <strong class="kanban-heading-text">Kanban Board</strong>
        </div>
        <div class="kanban-board">
            <div class="kanban-block" id="todo" (drop)="drop($event)" (dragover)="allowDrop($event)">
                <strong>To Do</strong>
                <div class="task-button-block">
                    <button id="task-button" routerLink="/createTicket" >Create new task </button>
                </div>
                <div class="task" id="task1" draggable="true" (dragstart)="drag($event)" *ngFor="let ticket of toDoTickets">
                    <span>{{ticket.summary}}</span>
                </div>
                
            </div>
            <div class="kanban-block" id="inprogress" (drop)="drop($event)" (dragover)="allowDrop($event)">
                <strong>In Progress</strong>
                <div class="task" id="task1" draggable="true" (dragstart)="drag($event)" *ngFor="let ticket of inProgressTickets">
                    <span>{{ticket.summary}}</span>
                </div>
            </div>
        

            <div class="kanban-block" id="test" (drop)="drop($event)" (dragover)="allowDrop($event)">
                <strong>Test</strong>
                <div class="task" id="task1" draggable="true" (dragstart)="drag($event)" *ngFor="let ticket of testTickets">
                    <span>{{ticket.summary}}</span>
                </div>
            </div>


            <div class="kanban-block" id="done" (drop)="drop($event)" (dragover)="allowDrop($event)">
                <strong>Done</strong>
                <div class="task" id="task1" draggable="true" (dragstart)="drag($event)" *ngFor="let ticket of closedTickets">
                    <span>{{ticket.summary}}</span>
                </div>
            </div>
            <div class="create-new-task-block" id="create-new-task-block">
                <strong>New Task</strong>
                <span class="form-row">
                    <label class="form-row-label" for="task-name">Task</label>
                    <input class="form-row-input" type="text" name="task-name" id="task-name">
                </span>
                <span class="form-row">
                    <label class="form-row-label" for="task-name">Description</label>
                    <textarea class="form-row-input" name="task-description" id="task-description" cols="70" rows="10"></textarea>
                </span>
                <span class="form-row">
                    <label class="form-row-label" for="task-name">Status</label>
                    <select class="form-row-input" name="task-status" id="task-status">
                        <option value="todo">To Do</option>
                        <option value="inprogress">In Progress</option>
                        <option value="done">Done</option>
                    </select>
                </span>
                <span class="form-row-buttons">
                    <button id="edit-button" onclick="editTask()">Edit </button>
                    <button id="save-button" onclick="saveTask()">Save </button>
                    <button id="cancel-button" onclick="createTask()">Cancel </button>
                </span>
            </div>
        </div>
    </div>
